
<section>

    <span data-id="rank" class="hidden"><%- rank %></span>

    <span data-id="teaser" data-editor-title="teaser" class="hidden"><%- teaser %></span>

    <span data-id="banner"><%- banner %></span>

    <!-- <h2>Short</h2> -->
    <hr/>
    <div data-id="short"><%- short %></div>

    <!-- <h2>Article</h2> -->
    <hr/>
    <div data-id="text"><%- text %></div>
</section>

