<div data-id="intro"><%- intro %></div>

<section>
    <% projectsAll.forEach(function(project){ %>
    <a class="project-item" href="/projects/<%- project.path %>">
        <div class="outer">
            <div class="left">
                <img class="img-circle" src="<%- project.teaser.src %>" alt="<%- project.teaser.alt %>" style="height: 225px; width: 225px"/>
            </div>
            <div class="right">
                <h2><%- project.title %></h2>
                <div><%- project.short %></div>
            </div>
        </div>
    </a>
    <% }); %>
</section>

<div data-id="outro"><%- outro %></div>
